MC.Website/Connected Services/RatingReference/Rating.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Rating" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49820/Rating.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49820/Rating.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49820/Rating.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MC.ApplicationServices.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRating_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IRating_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="IRating_Post_InputMessage">
    <wsdl:part name="parameters" element="tns:Post" />
  </wsdl:message>
  <wsdl:message name="IRating_Post_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostResponse" />
  </wsdl:message>
  <wsdl:message name="IRating_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IRating_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IRating_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IRating_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IRating">
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/IRating/Get" message="tns:IRating_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRating/GetResponse" message="tns:IRating_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Post">
      <wsdl:input wsaw:Action="http://tempuri.org/IRating/Post" message="tns:IRating_Post_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRating/PostResponse" message="tns:IRating_Post_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IRating/Delete" message="tns:IRating_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRating/DeleteResponse" message="tns:IRating_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IRating/GetById" message="tns:IRating_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRating/GetByIdResponse" message="tns:IRating_GetById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRating" type="tns:IRating">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/IRating/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Post">
      <soap:operation soapAction="http://tempuri.org/IRating/Post" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IRating/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IRating/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Rating">
    <wsdl:port name="BasicHttpBinding_IRating" binding="tns:BasicHttpBinding_IRating">
      <soap:address location="http://localhost:49820/Rating.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>